<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfbIiHEysfUQ03xuH9GT5A0XT6QyFfQPE</string>
	<key>GCM_SENDER_ID</key>
	<string>384221703398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solveathon</string>
	<key>PROJECT_ID</key>
	<string>solveathon-2210b</string>
	<key>STORAGE_BUCKET</key>
	<string>solveathon-2210b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384221703398:ios:b6fcc19d4cfee53b955f27</string>
</dict>
</plist>